body {
    font-family: Verdana, Segoe UI, Helvetica Neue, Trebuchet MS;
    width: 800px;
    margin-left: auto;
    margin-right: auto;   
}

.label {
    text-align: center;
}

.messageBox {
    text-align: left;
}

.settingLabel 
{
    padding: 5px 5px 5px 5px;
    display: block;
    margin: auto;
    width:50%;
}

.controlsContainer
{
    float: left;
    height: 300px;
    width: 250px;
}

.vertGaugeContainer
{
    padding: 0em 0 0 6em;
}

.controls
{
    background-image: url("images/backgrnd.jpg");
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 32px;
    height: 32px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }