body {
    font-family: Verdana, Segoe UI, Helvetica Neue, Trebuchet MS;
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
}

.label {
    text-align: center;
}
/* New class; for buttons*/
.settings-setter
{
    margin: auto;
    margin-top: 5px; 
}

.settinglabel 
{
    padding: 5px 5px 5px 5px;
    display: block;
    margin: auto;
    width:50%;
}

.controlsContainer
{
    float: left;
    height: 250px;
    width: 250px;
}

.vertGaugeContainer
{
    padding: 0em 0 0 7em;
}